$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.actions {
  background: #ffda76;
}

.branding {
  align-self: left;
  color: #f62445;
  font-size: 2em;
  padding: .05%;
  margin: auto;
}

.card {
  align-self: center;
  text-align: center;
  align-content: center;
  background: #e2455c;
  margin: 2em;
  padding: 1em;
}

#content {
  background-color: #fae6b0;
  margin: auto;
  align-self: center;
}
