$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Kalam');


nav {
  padding: 2rem;
  background-color: rgb(48, 33, 59);
}

.branding {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Kalam', cursive;
  align-self: left;
  color: rgb(145, 179, 142);
  padding: .75%;
  margin: 1%;
}

.card {
  align-self: center;
  text-align: center;
  align-content: center;
  background: #e2455c;
  margin: 2em;
  padding: 1em;
}

#content {
  background-color: rgb(231, 221, 225);
  margin: auto;
  align-self: center;
}

button {
  font-weight: bold;
  border-radius: 4px;
  background: rgba(90, 82, 100, 0.473);
  color: rgb(145, 179, 142);
  border: rgb(90,82,100,0.473);
  padding: 0.75%;
}
